<%= render partial: "shared/navbar" %>

<!----PHYIOSOPHY---->
<a name="philosophy"></a>
<div class="philosophy text-center" id="startchange">
  <div class="container-fluid">
    <div class="descript col-xs-12 col-sm-12 col-md-12">
      <div class="title">PHILOSOPHY</div>
      <div class="row no-gutter">
        <div class="col-xs-12 col-sm-6 col-md-5 p-4">
          <%= image_tag "boy.jpg", class: "img-responsive", width: "100%" %>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-7 text-dark text-left p-4">
          <h4>The Way of Balance</h4>
            <p>
            At the JKA, we put immense focus on the proper form and balance of each kihon, or basic technique. Through extensive training, our instructors have rigorously, scientifically analyzed and separated out each individual movement in each individual kata, and developed an unrivalled spectrum of kihon techniques. Using these special kihon, we have refined the kata to be more applicable in kumite. And in turn, the experience accumulated through kumite gives feedback to further perfect one’s kihon and kata. In this way kihon, kata and kumite form the inseparable trinity of JKA karate. Through constant repetition of such techniques, your body learns to move effortlessly, naturally. And your mind learns to be effortless and natural too. JKA karate is the way of balance.
            </p>
        </div>
      </div>

      <div class="row no-gutter">
        <div class="col-xs-12 col-sm-6 col-md-5 p-4">
          <%= image_tag "girl.jpg", class: "img-responsive", width: "100%" %>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-7 text-dark text-left p-4">
          <h4>Forging a Karate Mind</h4>
          <p>
          Karate is not a game of points, weight classes or showy demonstrations. It is a martial art and way of life that trains a practitioner to be peaceful; but if conflict is unavoidable, true karate dictates taking down an opponent with a single blow.<br>
          Such an action requires strength, speed, focus, control. But these physical aspects are only part of the practice; they are just the vehicle, not the journey itself.

          True karate is based on Bushido. In true karate, the body, mind and spirit—the whole person—must be developed simultaneously. Through kihon, kumite and kata we learn to control our movements. But more importantly, we learn to give up control too. We can perform the techniques without thinking about them, and remain focused without having to concentrate on any one thing. In essence, the body remembers how to move and the mind remembers how to be still.

          This harmonious unity of mind and body is intensely powerful. Even the greatest physical strength and skill are no match for the power of wholeness.

          The result of true karate is natural, effortless action, and the confidence, humility, openness and peace only possible through perfect unity of mind and body. This is the core teaching of Zen, the basis of Bushido, and the basis of the JKA’s karate philosophy.
          </p>
        </div>
      </div>
      <div class="break-responsive">
        <div class="break2">
          <div class="layer2">
          </div>
        </div>
      </div>
      <div class="row no-gutter">
        <div class="col-xs-12 col-sm-6 col-md-5 p-4">
          <%= image_tag "funakoshi.jpg", class: "img-responsive", width: "100%" %>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-7 text-dark text-left  p-4">
          <h4 class="mb-3">Dojo Kun - Goals of Karate Practice</h4>
          <div class="h5 mb-0">
            Hitotsu: Jinkaku kansei ni tsutomuru koto
          </div>
          <div class="ml-3 mb-3">
            Seek perfection of character
          </div>
          <div class="h5 mb-0">
            Hitotsu: Makoto no michi o mamoru koto
          </div>
          <div class="ml-3 mb-3">
            Be faithful
          </div>
          <div class="h5 mb-0">
            Hitotsu: Doryoku no seishin o yashinau koto
          </div>
          <div class="ml-3 mb-3">
            Endeavor
          </div>
          <div class="h5 mb-0">
            Hitotsu: Reigi o omonzuru koto
          </div>
          <div class="ml-3 mb-3">
            Respect others
          </div>
          <div class="h5 mb-0">
            Hitotsu: Kekki no yu o imashimuru koto
          </div>
          <div class="ml-3 mb-3">
            And refrain from violent behavior
          </div>
          <div class="mt-3 mb-3">
            道場訓
          </div>
          <div class="ml-3 mb-3">
            人格完成に努ること
          </div>
          <div class="ml-3 mb-3">
            誠の道を守ること
          </div>
          <div class="ml-3 mb-3">
            努力の精神を養うこと
          </div>
          <div class="ml-3 mb-3">
            礼儀を重んずること
          </div>
          <div class="ml-3 mb-3">
            血気の勇を戒むること
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= render partial: "shared/footer" %>
