<body>
  <%= render partial: "shared/navbar" %>
  <div class="intro-alert">
    <div class="alert p-4" style="background-color: orange;" role="alert">
      <h5 class="alert-heading">Dojo closed till further notice due to Covid 19. Please look into virtual clases coming soon.</h5>
    </div>
  </div>

  <header>
    <div data-ride="carousel" class="carousel carousel-fade" id="carousel-example-captions">
      <ol class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#carousel-example-captions"></li>
        <li data-slide-to="1" data-target="#carousel-example-captions" class=""></li>
        <li data-slide-to="2" data-target="#carousel-example-captions" class=""></li>
        <li data-slide-to="3" data-target="#carousel-example-captions" class=""></li>
        <li data-slide-to="4" data-target="#carousel-example-captions" class=""></li>
      </ol>
      <div role="listbox" class="carousel-inner">
        <div class="carousel-item active">
          <div class="intro">
            <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" data-interval="3000">
              <source src="https://res.cloudinary.com/dbo1mgpii/video/upload/v1602022218/Shiroma%20karate/dojo.mp4" type="video/mp4">
            </video>
          </div>
        </div>
        <div class="carousel-item" data-interval="2000">
          <div class="intro">
            <%= image_tag "home2.jpg", class: "img-responsive", width: "100%" %>
          </div>
        </div>
        <div class="carousel-item" data-interval="2000">
          <div class="intro">
            <%= image_tag "home.jpg", class: "img-responsive", width: "100%" %>
          </div>
        </div>
        <div class="carousel-item" data-interval="2000">
          <div class="intro">
            <%= image_tag "home3.jpg", class: "img-responsive", width: "100%" %>
          </div>
        </div>
        <div class="carousel-item" data-interval="2000">
          <div class="intro">
            <%= image_tag "home4.jpg", class: "img-responsive", width: "100%" %>
          </div>
        </div>
        <div class="carousel-caption">
          <h3>JKA Karate Shiroma</h3>
          <p>日本空手協会</p>
        </div>
      </div>
      <a data-slide="prev" role="button" href="#carousel-example-captions" class="left carousel-control">
        <span aria-hidden="true" class="icon-prev"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a data-slide="next" role="button" href="#carousel-example-captions" class="right carousel-control">
        <span aria-hidden="true" class="icon-next"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <%= image_tag "stripes.png", class: "img-responsive", height: "50px", width: "100%" %>
  </header>

<!----INSTRUCTOR---->
<%= render partial: "instructor" %>

<!----BREAK 1---->
<div class="break1-display-none">
  <div class="break1">
    <div class="layer3">
    </div>
  </div>
</div>


<!----SCHEDULE---->
<%= render partial: "schedule" %>

<!----BREAK 2---->
<div class="works">
  <a name="works"></a>
  <div class="container-fluid">
  </div>
</div>

<%= render partial: "contacts" %>
<%= render partial: "shared/footer" %>
