<%= render partial: "shared/navbar" %>
<div class="photos container-fluid photos-intro photos-descript">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <%= image_tag("dojo1.jpg", class: "img-fluid") %>
      <%= image_tag("dojo2.jpg", class: "img-fluid") %>
      <%= image_tag("dojo9.jpg", class: "img-fluid") %>
      <%= image_tag("class.jpg", class: "img-fluid") %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <%= image_tag("dojo7.jpg", class: "img-fluid") %>
      <%= image_tag("dojo14.jpg", class: "img-fluid") %>
      <%= image_tag("dojo10.jpg", class: "img-fluid") %>
      <%= image_tag("dojo12.jpg", class: "img-fluid") %>
      <%= image_tag("dojo13.jpg", class: "img-fluid") %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <%= image_tag("dojo5.jpg", class: "img-fluid") %>
      <%= image_tag("dojo4.jpg", class: "img-fluid") %>
      <%= image_tag("home4.jpg", class: "img-fluid") %>
      <%= image_tag("home3.jpg", class: "img-fluid") %>
      <%= image_tag("dojo6.jpg", class: "img-fluid") %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <%= image_tag("dojo16.jpg", class: "img-fluid") %>
      <%= image_tag("home.jpg", class: "img-fluid") %>
      <%= image_tag("home2.jpg", class: "img-fluid") %>
      <%= image_tag("dojo3.jpg", class: "img-fluid") %>

      <%= image_tag("dojo8.jpg", class: "img-fluid") %>
      <%= image_tag("dojo15.jpg", class: "img-fluid") %>
    </div>
  </div>
</div>
<%= render partial: "shared/footer" %>
